@import "components/variables";
@import "components/mixins";

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    background-color: $main-background-color;
    color: $main-font-color;
    font-family: sans-serif;
}

.blur {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.blurable {
  transition: filter 160ms ease-in-out;
}